{% extends "AstinaRedirectManagerBundle::content_layout.html.twig" %}
{% trans_default_domain "AstinaRedirectManagerBundle" %}

{% block armb_content %}

    <h2>{{ (group.id? 'list.edit_group' : 'list.new_group') | trans }}</h2>

    <form action="{{ group.id ? path('armg_group_edit', {'id': group.id}) : path('armg_group_new') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{{ (group.id? 'form.edit' : 'form.submit') | trans }}" />
            <a href="{{ path('armb_homepage') }}" class="btn">{{ 'form.abort' | trans }}</a>
        </div>
    </form>

    {% if group.id %}
        <hr />
        <form action="{{ path('armg_group_delete', {'id': group.id}) }}" method="post">
            <input type="submit" class="btn btn-danger" value="{{ 'group.delete' | trans }}" />
        </form>
    {% endif %}

{% endblock %}
