{% extends "AstinaRedirectManagerBundle::layout.html.twig" %}
{% trans_default_domain "AstinaRedirectManagerBundle" %}

{% block astina_redirect_manager_content  %}
    <a href="{{ path('astina_rm_new_map') }}" class="btn btn-primary">{{ 'list.new' | trans }}</a>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{{ 'list.url.from' | trans }}</th>
                <th>{{ 'list.url.to' | trans }}</th>
                <th>{{ 'list.count' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for map in maps %}
            <tr>
                <td>{{ map.urlFrom }}</td>
                <td>{{ map.urlTo }}</td>
                <td>{{ map.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}