{% extends "AstinaRedirectManagerBundle::content_layout.html.twig" %}
{% trans_default_domain "AstinaRedirectManagerBundle" %}

{% block armb_content  %}
    {% if grouped_maps | length > 0 or search %}
        <div class="btn-group pull-right">
            <a href="{{ path('armb_new_map') }}" class="btn btn-primary"><span class="icon-plus icon-white"></span> {{ 'list.new' | trans }}</a>
            <a href="{{ path('armg_group_new') }}" class="btn"><span class="icon-plus"></span> {{ 'list.new_group' | trans }}</a>
            <p>&nbsp;</p>
        </div>

        <form method="get" action="{{ path('armb_homepage') }}" class="form-inline">
            <div class="input-append">
                <input type="text" name="search" value="{{ search }}">
                <button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
        </form>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>{{ 'list.url.from' | trans }}</th>
                    <th>{{ 'list.url.to' | trans }}</th>
                    <th>{{ 'list.host' | trans }}</th>
                    <th>{{ 'list.http_code' | trans }}</th>
                    <th>{{ 'list.count' | trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for group_maps in grouped_maps %}
                    {% if group_maps.group is defined %}
                        <tr>
                            <td colspan="6">
                                <h3>
                                    {{ group_maps.group.name }}
                                    <a href="{{ path('armg_group_edit', {'id': group_maps.group.id}) }}" class="btn btn-link"><i class="icon-pencil"></i></a>
                                </h3>
                            </td>
                        </tr>
                    {% endif %}
                    {% for map in group_maps.maps %}
                        <tr>
                            <td>
                                {% if map.urlFromIsRegexPattern %}
                                    {{ _self.truncateMiddle(map.urlFrom) }}
                                {% else %}
                                    <a target="_blank" href="{{ map.urlFrom }}">{{ _self.truncateMiddle(map.urlFrom) }}</a>
                                {% endif %}
                                {% if map.comment|trim %}
                                    <p class="muted">{{ map.comment|nl2br|truncate(50) }}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if map.urlToContainsPlaceholders %}
                                    {{ _self.truncateMiddle(map.urlTo) }}
                                {% else %}
                                    <a target="_blank" href="{{ map.urlTo }}">{{ _self.truncateMiddle(map.urlTo) }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if map.hostRegexPatternNegate %}
                                    <span class="muted">({{ 'list.host_regex_pattern_negate' | trans }})</span>
                                {% endif %}
                                {{ map.host }}
                            </td>
                            <td>{{ map.redirectHttpCode }}</td>
                            <td>
                                {% if map.countRedirects %}
                                    {{ map.count }}
                                {% else %}
                                    <span class="muted">{{ 'list.no_data' | trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('armb_edit_map', {id:map.id}) }}" class="btn btn-info btn"><i class="icon-pencil"></i></a>
                                <a href="#deleteRedirect" class="delete btn btn-danger btn" data-toggle="modal" data-deleteurl="{{ path('armb_delete_map', {id:map.id}) }}" data-target="#deleteRedirect"><i class="icon-trash icon-white"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        {% block armb_pagination %}
            {% include "AstinaRedirectManagerBundle:Mapping:_pagination.html.twig" %}
        {% endblock %}

    {% else %}
        <div class="alert alert-block">
            <h4>{{ 'list.no_redirects.title' | trans }}</h4>
            {{ 'list.no_redirects.description' | trans }}
        </div>
        <p>
            <a href="{{ path('armb_new_map') }}" class="btn btn-large btn-primary btn">{{ 'list.no_redirects.button' | trans }}</a>
        </p>
    {% endif %}
    <!-- Modal -->
    <div id="deleteRedirect" class="modal fade" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{{ 'modal.delete.title' | trans }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ 'modal.delete.message' | trans }}</p>
        </div>
        <div class="modal-footer">
            <form action="" method="post">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'modal.delete.close' | trans }}</button>
                <input type="submit" class="btn btn-danger delete" value="{{ 'modal.delete.yes' | trans }}" />
            </form>
        </div>
    </div>
{% endblock %}

{% macro truncateMiddle(string, minLength = 25) %}
{% spaceless %}
    {% if string|length  > (minLength + 10) %}
        {% set string =  string|truncate(minLength)  ~ string|slice(string|length - 10) %}
    {% endif %}
    {{ string }}
{% endspaceless %}
{% endmacro %}