{% extends "AstinaRedirectManagerBundle::content_layout.html.twig" %}
{% trans_default_domain "AstinaRedirectManagerBundle" %}

{% block armb_content  %}
    {% if maps | length > 0 %}
        <a href="{{ path('armb_new_map') }}" class="btn btn-primary pull-right">{{ 'list.new' | trans }}</a>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>{{ 'list.url.from' | trans }}</th>
                    <th>{{ 'list.url.to' | trans }}</th>
                    <th>{{ 'list.count' | trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for map in maps %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ map.urlFrom }}">{{ map.urlFrom }}</a>
                    </td>
                    <td>
                        <a target="_blank" href="{{ map.urlTo }}">{{ map.urlTo }}</a>
                    </td>
                    <td>{{ map.count }}</td>
                    <td>
                        <a href="{{ path('armb_edit_map', {id:map.id}) }}" class="btn btn-info btn"><i class="icon-edit"></i></a>
                        <a href="#deleteRedirect" class="delete btn btn-danger btn" data-toggle="modal" data-deleteurl="{{ path('armb_delete_map', {id:map.id}) }}"><i class="icon-remove"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-block">
            <h4>{{ 'list.no_redirects.title' | trans }}</h4>
            <p>{{ 'list.no_redirects.description' | trans }}</p>
            <a href="{{ path('armb_new_map') }}" class="btn btn-large btn-primary btn">{{ 'list.no_redirects.button' | trans }}</a>
        </div>
    {% endif %}
    <!-- Modal -->
    <div id="deleteRedirect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ 'modal.delete.title' | trans }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ 'modal.delete.message' | trans }}</p>
        </div>
        <div class="modal-footer">
            <form action="" method="post">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'modal.delete.close' | trans }}</button>
                <input type="submit" class="btn btn-danger delete" value="{{ 'modal.delete.yes' | trans }}" />
            </form>
        </div>
    </div>
{% endblock %}