{% extends "AstinaRedirectManagerBundle::content_layout.html.twig" %}
{% trans_default_domain "AstinaRedirectManagerBundle" %}

{% block armb_content  %}
    {{ form_start(form, {'action': path('armb_new_map'), 'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <hr />
        <div class="control-group">
            <a href="#" data-action="toggle-advanced-fields">{{ 'form.toggle_advanced_fields' | trans }}</a>
        </div>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value= "{{ "form.submit" | trans }}" />
            <a href="{{ path('armb_homepage') }}" class="btn">{{ 'form.abort' | trans }}</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
